<div class="content csc-preferredExhibition-exhibitionTermGroup">
    <div class="label csc-preferred-label"></div>
    <div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td><span class="csc-preferredExhibition-termDisplayName-label label required"></span><span class="required">*</span></td>
                            <!--td class="csc-preferredExhibition-termName-label"></td-->
                            <!--td class="csc-preferredExhibition-termQualifier-label"></td-->
                            <td class="csc-preferredExhibition-termType-label"></td>
                            <!--td class="csc-preferredExhibition-termStatus-label label"></td-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" class="csc-exhibitionAuthority-termDisplayName"/></td>
                            <!--td><input type="text" class="csc-exhibitionAuthority-termName"/></td-->
                            <!--td><input type="text" class="csc-exhibitionAuthority-termQualifier"/></td-->
                            <td><select class="csc-exhibitionAuthority-termType input-select"><option value="">Options not loaded</option></select></td>
                            <!--td><select class="csc-exhibitionAuthority-termStatus input-select"><option value="">Options not loaded</option></select></td-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--div class="info-column">
        <div class="info-pair">
            <div class="content">
                <table>
                    <thead>
                        <tr>
                            <td class="csc-preferredExhibition-termLanguage-label"></td>
                            <td class="csc-preferredExhibition-termPrefForLang-label"></td>
                            <td class="csc-preferredExhibition-termSource-label"></td>
                            <td class="csc-preferredExhibition-termSourceDetail-label"></td>
                            <td class="csc-preferredExhibition-termSourceID-label"></td>
                            <td class="csc-preferredExhibition-termSourceNote-label"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><select class="csc-exhibitionAuthority-termLanguage input-select"><option value="">Options not loaded</option></select></td>
                            <td><input type="checkbox" class="csc-exhibitionAuthority-termPrefForLang"/></td>
                            <td><input type="text" class="csc-exhibitionAuthority-termSource"/></td>
                            <td><input type="text" class="csc-exhibitionAuthority-termSourceDetail"/></td>
                            <td><input type="text" class="csc-exhibitionAuthority-termSourceID"/></td>
                            <td><input type="text" class="csc-exhibitionAuthority-termSourceNote"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div-->
</div>