<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">

                <div class="info-column cs-multipleEdit" id="multipleEdit">
                    <div class="info-pair">
                        <div class="header">
                            <div class="label csc-preferredExhibition-exhibitionTermGroup-label"></div>
                        </div>
                        <div class="content csc-preferredExhibition-exhibitionTermGroup cs-repeatable-stretched">
                            <div class="info-column">
                                <div class="info-column2-50 fl-force-left">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-exhibition-termDisplayName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-exhibitionAuthority-termDisplayName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-column2-50 fl-force-right">
                                    <div class="info-pair">
                                        <div class="header">
                                            <div class="label csc-exhibition-termName-label"></div>
                                        </div>
                                        <div class="content clearfix">
                                            <input type="text" class="csc-exhibitionAuthority-termName"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionLocationInternal-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-exhibition-exhibitionLocationInternal"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-exhibitionCurator-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-exhibition-exhibitionCurator"/>
                    </div>
                </div>

                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-exhibition-updatedAt-label"></div>
                    </div>
                    <div class="content clearfix">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-exhibition-updatedAtStart-label"></td>
                                    <td class="csc-exhibition-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-exhibition-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-exhibition-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>